<nav class="navbar">
  <div class="navbar-left">
    <span class="navbar-brand">ARKBLOG</span>
    <button class="nav-button" routerLink="/" (click)="goToHome()">Home</button>
    <div class="dropdown" (mouseenter)="onCategoriesMouseEnter()" (mouseleave)="onCategoriesMouseLeave()">
      <button #categoriesButton class="nav-button">Categories</button>
      
    </div>

    <div class="category-hover-panel" *ngIf="showCategoryPanel" (mouseenter)="onPanelMouseEnter()" (mouseleave)="onPanelMouseLeave()">
      <div class="panel-left">
        <a *ngFor="let tag of categories" (mouseenter)="filterPostsByTag(tag.tagName)">{{tag.tagName}}</a>
      </div>
      <div class="panel-right">
        <div *ngFor="let post of filteredPosts | slice:0:5" class="panel-post-item">
          <div class="panel-post-image-wrapper">
            <img [src]="post.coverImageUrl || 'https://via.placeholder.com/150'" [alt]="post.title">
          </div>
          <div class="post-info">
            <h4>{{post.title}}</h4>
          </div>
        </div>
      </div>
    </div>
    <button class="nav-button">Authors</button>
  </div>
  <div class="navbar-right">
    <input type="text" placeholder="Search..." class="search-bar">
    <ng-container *ngIf="!isLoggedIn">
      <button class="nav-button" (click)="openLogin()">Login/Register</button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <button class="nav-button" (click)="openEditor()">
        <span class="plus-icon">+</span> New Post
      </button>
      <button class="nav-button">Profile</button>
      <button class="nav-button" (click)="onLogout()">Logout</button>
    </ng-container>
  </div>
</nav>

<div class="main-content-wrapper">
  <div class="main-container">
    
    
    <app-blog-list 
      *ngIf="!showEditor && !showPostDetail" 
      (openEditor)="openEditor()" 
      (viewPost)="viewPost($event)">
    </app-blog-list>
  </div>
  
  <app-ngx-editor *ngIf="showEditor" (close)="onEditorClose($event)" (postCreated)="onPostCreated()" [postId]="postId" [authorId]="authorId"></app-ngx-editor>
  
  <app-blog-post-detail *ngIf="showPostDetail" [post]="selectedPost" (goBack)="closePostDetail()"></app-blog-post-detail>
  
  <app-login 
    *ngIf="showLogin" 
    (close)="closeLogin()" 
    (switchToRegister)="switchToRegister()"
    (loginSuccess)="onLoginSuccess()">
  </app-login>
  
  <app-register 
    *ngIf="showRegister" 
    (close)="closeRegister()" 
    (switchToLogin)="switchToLogin()"
    (registerSuccess)="onRegisterSuccess()">
  </app-register>
</div>

<router-outlet />
